#story1_country1 {
    display: inline-block;
}

#story1_first1a {
    display: inline-block;
}

#story1_first1b {
    display: inline-block;
}

#story1_first1c {
    display: inline-block;
}

#story1_first1d {
    display: inline-block;
}

#story1_first1e {
    display: inline-block;
}

#story1_first1f {
    display: inline-block;
}

#story1_first1g {
    display: inline-block;
}

#story1_last1 {
    display: inline-block;
}

#story1_gender1a {
    display: inline-block;
}

#story1_gender1b {
    display: inline-block;
}

#story1_gender1c {
    display: inline-block;
}

#story1_city1 {
    display: inline-block;
}

#story1_number1 {
    display: inline-block;
}

#story1_name1 {
    display: inline-block;
}

#story1_username1 {
    display: inline-block;
}

#story1_password1 {
    display: inline-block;
}

#story1_age1 {
    display: inline-block;
}

#story1_title2 {
    display: inline-block;
}

#story1_first2 {
    display: inline-block;
}

#story1_last2 {
    display: inline-block;
}

#story1_username3a {
    display: inline-block;
}

#story1_username3b {
    display: inline-block;
}

#story1_first3 {
    display: inline-block;
}

#story1_last3 {
    display: inline-block;
}

#story1_country3 {
    display: inline-block;
}