#story2_first1a {
    display: inline-block;
}

#story2_first1b {
    display: inline-block;
}

#story2_first1c {
    display: inline-block;
}

#story2_first1d {
    display: inline-block;
}

#story2_first1e {
    display: inline-block;
}

#story2_first1f {
    display: inline-block;
}

#story2_first1g {
    display: inline-block;
}

#story2_last1 {
    display: inline-block;
}

#story2_gender1a {
    display: inline-block;
}

#story2_gender1b {
    display: inline-block;
}

#story2_gender1c {
    display: inline-block;
}

#story2_gender1d {
    display: inline-block;
}

#story2_gender1e {
    display: inline-block;
}

#story2_gender1f {
    display: inline-block;
}

#story2_gender1g {
    display: inline-block;
}

#story2_country1 {
    display: inline-block;
}

#story2_description1 {
    display: inline-block;
}

#story2_age1 {
    display: inline-block;
}

#story2_first2a {
    display: inline-block;
}

#story2_first2b {
    display: inline-block;
}

#story2_first2c {
    display: inline-block;
}

#story2_gender2 {
    display: inline-block;
}

#story2_first3a {
    display: inline-block;
}

#story2_first3b {
    display: inline-block;
}

#story2_country4 {
    display: inline-block;
}

#story2_first4 {
    display: inline-block;
}