#story3_city1 {
    display: inline-block;
}

#story3_country1 {
    display: inline-block;
}

#story3_first1a {
    display: inline-block;
}

#story3_first1b {
    display: inline-block;
}

#story3_first1c {
    display: inline-block;
}

#story3_last1 {
    display: inline-block;
}

#story3_age1 {
    display: inline-block;
}

#story3_gender1 {
    display: inline-block;
}

#story3_title2 {
    display: inline-block;
}

#story3_first2a {
    display: inline-block;
}

#story3_first2b {
    display: inline-block;
}

#story3_last2 {
    display: inline-block;
}

#story3_title3 {
    display: inline-block;
}

#story3_first3a {
    display: inline-block;
}

#story3_first3b {
    display: inline-block;
}

#story3_first3c {
    display: inline-block;
}

#story3_first3d {
    display: inline-block;
}

#story3_first3e {
    display: inline-block;
}

#story3_first3f {
    display: inline-block;
}

#story3_first3g {
    display: inline-block;
}

#story3_first3h {
    display: inline-block;
}

#story3_last3 {
    display: inline-block;
}

#story3_gender3a {
    display: inline-block;
}

#story3_gender3b {
    display: inline-block;
}

#story3_gender3c {
    display: inline-block;
}

#story3_gender3d {
    display: inline-block;
}

#story3_gender3e {
    display: inline-block;
}

#story3_gender3f {
    display: inline-block;
}

#story3_country3 {
    display: inline-block;
}

#story3_first4a {
    display: inline-block;
}

#story3_first4b {
    display: inline-block;
}

#story3_first4c {
    display: inline-block;
}

#story3_first4d {
    display: inline-block;
}

#story3_first4e {
    display: inline-block;
}

#story3_last4 {
    display: inline-block;
}

#story3_email4 {
    display: inline-block;
}

#story3_name4 {
    display: inline-block;
}